/* google font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700&display=swap');

/* google font */

body {
    font-family: 'Baloo Chettan 2', cursive;
    margin: 0;
}

main {
    width: 1150px;
    margin: 3rem auto;
}

.click {
    background-color: red;
    border: none;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 10px;
}

.click:hover {
    background-color: #000000;
    cursor: pointer;
}



/* header*/
.header-section {
    display: flex;
    background-color: #161616;
    padding: 4rem;
    border-radius: 10px;
    background-image: url(images/player.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
}

.header-img {
    display: none;
}

.header-text {
    width: 50%;
    padding-top: 5rem;
}


.header-text h1 {
    color: #FFFFFF;
    font-size: 3.4em;
    width: 70%;
    margin: 0;
}

.header-text p {
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 1rem;
    width: 70%;
}



/* both */

.matches {
    padding-top: 5rem;
    display: flex;
    gap: 1rem;
    padding-bottom: 5rem;
}

.match-menu {
    width: 22%;
    height: 160px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.match-menu a {
    padding: 13px 60px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    width: 135px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
}

.current {
    background-color: red !important;
    color: #FFFFFF !important;
}

.new-tab:active {
    background-color: red;
    color: #FFFFFF;
}


.match-start {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.match-details {
    border: 1px solid #74747456;
    padding: 1rem;
    border-radius: 7px;
}

.match-team {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.match-team h2 {
    font-weight: 500;
    font-size: 15px;
    margin-right: 1px;
}

.ger img,
.france img {
    width: 90%;
}

.match-info h4,
.match-info p {
    text-align: center;
    font-size: 20px;
}

.match-commited {
    display: flex;
    gap: 30px;
}

.commit {
    display: flex;
    gap: 10px;
}

.match-info-btn {
    margin: 5px;
    padding: 5px 25px;
    font-weight: 600;
}



.match-info-blog h4 {
    font-size: 16px;
    margin: 5px;
    color: #161616;
}

.player-photo img {
    width: 100%;
}

.button-bottom {
    display: flex;
    justify-content: center;
    display: none;
}


/* footer */
footer {
    background-color: #000000;
    padding: 5rem;
}

.footer-title {
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
}


.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-menu a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 1rem;
    justify-content: center;
}


.hr {
    width: 80%;
    background-color: hsl(0, 0%, 50%);
}

.footer-icon {
    padding: 2rem;
}

.social {
    width: 40px;
    height: 28px;
    color: whitesmoke;
    padding-top: 12px;
    font-size: 30px;
}


/* tablet devices */

@media only screen and (min-width: 689px) and (max-width: 992px) {
    main {
        width: 650px;
        margin: 3rem auto;
    }

    .header-section {
        padding: 3rem;
        background-size: contain;
    }

    .header-text {
        width: 100%;
        padding-top: 0;
    }


    .header-text h1 {
        font-size: 2em;
        width: 50%;
    }

    .header-text p {
        color: #FFFFFF;
        margin: 0;
        width: 40%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 15px;
    }

    p {
        display: block;
    }

    .none {
        display: none;
    }

    .match-start {
        grid-template-columns: repeat(2, 1fr);
    }

    .matches {
        flex-direction: column;

    }

    .match-menu {
        width: 100%;
        background-color: #fff;
        flex-direction: row;
        border-radius: 10px;
        padding: 10px;
        height: 5vh;

    }

    .button-bottom {
        display: flex;
        justify-content: center;
    }

    .match-menu a {
        border: 1px solid rgba(151, 150, 150, 0.26);
        padding: 10px 20px;
        color: #000;
        background-color: #fff;
        font-size: 17px;
    }

    .footer-menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

}

/* mobile  */

@media only screen and (max-width: 688px) {
    main {
        width: 90%;
        margin: 3rem auto;
    }

    .header-section {
        padding: 2rem 4rem;
        flex-direction: column;
        display: flex;
        background-color: #161616;
        background-image: url(images/player.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: bottom;
    }

    .header-img {
        display: flex;
        width: 100%;
        align-items: center;
        height: 30vh;
    }


    .header-text {
        width: 100%;
        padding-top: 0rem;
        text-align: center;
    }

    .header-text h1 {
        font-size: 23px;
        width: 70%;
        text-align: center;
        width: 100%;
    }

    .header-text p {
        width: 100%;
        font-size: 13px;
        color: #fff;
        margin: 0;
        padding-bottom: 1rem;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .matches {
        flex-direction: column;
    }

    .match-menu {
        width: 100%;
        background-color: #FFFFFF;
        flex-direction: column;
        border-radius: 10px;
        padding: 10px;
        height: 20vh;
        margin-bottom: 2rem;
    }

    .match-menu a {
        border: 1px solid rgba(151, 150, 150, 0.26);
        padding: 10px 20px;
        color: #000;
        background-color: #fff;
    }

    .match-start {
        grid-template-columns: repeat(1, 1fr);
    }

    .match-team {
        justify-content: center;
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}